<div id="<%= dom_id course %>">
  <p>
    <strong>Title:</strong>
    <%= course.title %>
  </p>

  <p>
    <strong>Video url:</strong>
    <%= course.video_url %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= course.status %>
  </p>

</div>
